<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Licensing" version="18.2.0.46" targetFramework="net452" />
  <package id="Syncfusion.SfBusyIndicator.WPF" version="18.2.0.46" targetFramework="net452" />
  <package id="Syncfusion.SfShared.WPF" version="18.2.0.46" targetFramework="net452" />
</packages>